:root {
  // font size
  --default-text-size: 16px;
  --title-text-size: 48px;
  --content-title-text-size: 16px;
  --content-text-size: 12px;
  --text-size-sm: 14px;
  --text-size-xs: 10px;

  // font weight
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  // ---COLORS---
  --primary-color: #9575cd;
  --secondary-color: #c7a4ff;
  --error-color: #e57373;
  --link-color: #006997;

  // text
  --primary-text-color: #000;
  --secondary-text-color: #475D66;
  --tertiary-text-color: #979797;
  --contrast-text-color: #fff;

  // background
  --primary-background-color: #fff;
  --secondary-background-color: #fafafa;
  --contrast-background-color: #000;
  --timeline-accent-color: 249, 249, 249;
  --timeline-accent-color-light: 241, 241, 241;

  // borders
  --default-border: 1px solid rgb(28 39 58 / 30%);
  --default-border-radius: 5px;

  // shadows
  --default-shadow: 2px 3px 4px rgba(0, 0, 0, 0.15);
}
